html,
body{
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color:#ffffff;
    text-transform: uppercase;
}

a{ 
    text-decoration: none;
}

.main-header-menu{
  font-size:17px;
  line-height: 17px;
  color:#ffffff;
}

.filters fieldset{
  border:none;
}
.stock {
    font-size: 24px;
    font-family: "Cuprum";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    position: absolute;
    left: 151px;
    top: 427.725px;
    z-index: 196;
  }
  
  .new {
    font-size: 16px;
    font-family: "PTSans";
    color: rgb(255, 255, 255);
    line-height: 1.125;
    text-align: left;
    position: absolute;
    left: 394.585px;
    top: 389.5px;
    z-index: 193;
  }
  
  
  
  .Равшан_Джамшутович {
    font-size: 21px;
    font-family: "Cuprum";
    color: rgb(0, 0, 0);
    line-height: 1;
    text-align: left;
    position: absolute;
    left: 816px;
    top: 119.384px;
    z-index: 181;
  }
  .Мои_заказы________Личный_кабинет {
    font-size: 16px;
    font-family: "Cuprum";
    color: rgb(50, 66, 92);
    text-decoration: underline;
    line-height: 1.125;
    text-align: left;
    position: absolute;
    left: 788px;
    top: 158.817px;
    width: 210px;
    height: 14px;
    z-index: 177;
  }
  