body{
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Cuprum", "Arial";
  font-size: 14px;
  line-height: 18px;
  background-color: #f9f5f0;
  width: 960px;
}
a{ 
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
 input[type="checkbox"].visually-hidden,
 input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 3px;
}
.container{
 /* width: 940px; */
  margin: 0;
  padding: 0;
  
  background-color: #ffffff;
}
.top-navigation{
  width: 960px;
  height: 42px;
  background-color: #293449;
}
.top-logo{
  position: absolute;
  font-family: "Cuprum";
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  margin-left: 50px;
  padding: 8px 30px;
  border-bottom: 5px solid #ca2c37; 
  height: 42px;
 }
.top-logo:hover{
  background-color: #ca2c37;
 }
.top-line path:hover,
.top-line path:focus{
  background-color: #ffffff;
}

.top-navigation ul{
  display: flex;

  margin: 0;
  margin-left: 200px; 
  padding: 0;
  padding-top: 8px;
  padding-left: 35px;
  list-style: none;
}
.top-navigation li{
  display: inline-block;

}
.top-navigation a {
  color:#ffffff;
  font-family: "Cuprum";
  font-size: 17px;
  line-height: 18px;
  text-align: left;
  padding: 12px 21px;
}
.memo:hover,
.car:hover{
  background-color: #212a3a;
}
.memo:focus,
.car:focus{
  color: #8b8e94;
  background-color: #161d29;
}
.order{
  font-family: "cuprum";
  font-size: 17px;
  line-height: 18px;
  color:#ffffff; 
  background-color: #63a63e;
  margin-right: 50px;
}
.order:hover{
  background-color: #5fbb2d;
}
.order:focus{
  color: #86aa71;
  background-color:  #518534;
}
.search{
  font-family: "cuprum";
  font-size: 17px;
  line-height: 18px;
  color:#ffffff; 
  background-image: url("img/icon-search.svg") no-repeat 50% 50%;
}
.search:focus{
  background-color: #ffffff;
}
.search input{
  background-color: #293449;
  border-color: transparent;
}
.search input:focus{
  color: #000000;
  background-color: #ffffff;
}
.inner-page .car{
  background-color: #ee3643;
}

.user-navigation{
  background-color: #f2f6f8;
  position: relative;
}
.user-navigation ul{
  margin: 0;
  margin-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  list-style: none;
}
.user-navigation li{
  display: inline-block;
}
.user-navigation  a{
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  position: absolute;
  background-color: #ffffff;
}
.user-navigation a:hover{
  color: #ee3643;
}
.user-navigation a:focus{
  color: #bebebe;
}
.contact-info{
  font-family: "cuprum";
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color:#ee3643; 
  width: 179px;
  padding: 10px;
}
.contact-tel-header{
  font-family: "cuprum";
  font-size: 21px;
  line-height: 21px;
  color:#ee3643; 
  text-align: left;
  position: absolute;
  left: 320px;
  top: 56px;
  padding: 8px 50px;
  border: 4px solid #ffffff;
 }
.contact-adres-header{
  font-family: "cuprum", Italic;
  font-size: 14px;
  line-height: 24px;
  color:#32425c;
  position: absolute;
  left: 320px;
  top: 106px;
}
.user-login{
  top: 56px;
  left: 620px;
  padding: 20px 30px;
}
.user-registr{
  top: 56px;
  right: 60px;
  padding: 20px 30px;
}
.user-logout {
  font-family: "Cuprum";
  font-size: 21px;
  color: #000000;
  line-height: 21px;
  text-align: center;
  position: absolute;
  top: 56px;
  right: 50px;
  padding: 10px 30px; 
}
.user-logout:hover{
  color: #33435d;
}
.user-logout:focus{
  color: #bebebe;
}
.user-fields{
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-decoration: underline;
  text-align: left;
  position: absolute;
  top: 106px;
  left: 680px;
}
.user-fields:hover{
  color: #ee3643;
}
.header-navigation{
  background-color: #f2f6f8;
  width: 960px;
  height: 100px;
}
.header-navigation ul{
  margin: 0;
  margin-left: 50px;
  padding: 0;
  list-style: none;
  background-color: #32425c;
  width: 840px;
  height: 60px;
}
.header-navigation li{
  display: inline-block;
  position: relative;
  padding-right: 25px; 
  padding-left: 25px;
  padding-top: 21px;
}
.header-navigation a{
  font-family: "cuprum";
  font-size: 17px;
  color:#ffffff;
  line-height: 17px;
  text-align: center;
}
.header-navigation a:hover{
  background-color: #293449;
}
.header-navigation a:focus{
  color: #bebebe;
  background-color: #1d2739;
}
/* PROMO-BLOKI */
  
.catalog-menu{
  margin: 0 -40px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  width: 940px;
  font-family:"cuprum";
  
  list-style: none;
  color: #ffffff;
}

.promo-box{
  width: 270px;
  height: 123px; 
  margin: 10px;
  
}

.catalog-menu p{
  color:#ffffff;
  position: absolute;
  margin-left: 16px;
  margin-top: 22px;
  font-weight: bold;
  font-size: 24px;

 }
.catalog-menu .picon{
  margin-top: 20px;
  margin-left: 170px;
}
.catalog-menu .button{
  font-size: 14px;
  line-height: 18px;
  color:#ffffff;
  text-transform: uppercase;
  margin-left: 12px;
  border-radius: 5px;
}
.catalog-menu .button:hover{
  background-color: #cccccc;
}
.catalog-menu .button:focus{
  background-color:  #b2b2b2;
}
.stock{
  order: 1;
  background-color:#ffbf47;
  background-image: url("img/new-flag.svg")
 }
.stock .button{
  background-color: #e5ac40;
}
.tools{
  order: 2;
  background-color: #3bbcc3;
  
}
.tools .button{
  background-color:#35a9cc;
}
.techno{
  order: 3;
  background-color: #dc91d8;
}
.techno .button{
  background-color: #c682c2;
}
.discount{
  order: 5;
  background-color: #8ed78f;
}
.discount .button{
  background-color: #80c180;
}
.catalog-menu .delivery{
  order: 6;
  background-color: #ffc047;
  margin-top: -130px;
}
.delivery .button{
  background-color: #e5ac40;
}
.catalog-menu .slider{
  order: 4;
 width: 540px;
  height: 266px;
}

.slider p{
  position: absolute;
  top: 520px;
  left: 50px;
  font-family: "Cuprum";
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}
.slider span{
  position: absolute;
  top: 580px;
  left: 66px;
  font-family: "PTSans";
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
}
.slider img{
  margin-left: -20px;
}
.slider .button{
  position: absolute;
  left: 57px;
  top: 720px;
  border-radius: 3px;
  
}
.slider .button:hover{
  background-color: #ca2c37;
}
.slider .button:focus{
  background-color: #ba2732;
}
.favorit-products{
  position: relative;
  width: 940px;
  margin: 0;
  list-style: none;
}
.favorit-box{
  font-family:"Cuprum";
  background-color: #f9f5f0;
  width: 860px;
  height: 85px;
  text-decoration: none;
  margin-left: 30px;
}
.favorit-box .favorit{
  position: absolute;
  left: 60px;
  font-size: 30px;
  line-height: 30px;
  color:#32425c;
  text-transform: uppercase;
}
  
.favorit-box .btn-favorit{
  position: absolute;
  right: 70px;
  font-family: "Arial";
  font-size: 12px;
  line-height: 18px;
  color:#ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  
  padding: 10px 30px;
  
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 3px;
}
/*    K A T A L O G */
.catalog-items{
  width: 940px;
  margin: 20px auto;

  margin-left: 30px;
  list-style-type: none;
  text-decoration: none;
}
.catalog-item{
  position: relative;
  display: inline-block;
  width: 195px;
  min-height: 256px ; 
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #9e9d9d;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}
/*  FLAG - NEW */

.flag-new:after{
  position: absolute;
  top: -1px;
  right: -1px; 
  width: 60px;
  height: 60px;
  background: url("img/new.png") no-repeat 0 0;
}
.catalog-item .actions{
  position: absolute;
  top: 0;
  left: 0;
  width: 195px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff;
  z-index: 20;
}
.catalog-item .actions .buy,
.catalog-item .actions .my-list{
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom:  7px;
  padding:  7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}
.catalog-item .actions .my-list{
  color: #32425c;
  background: #ffffff;
  border-bottom-color: #63a63e;
}
.catalog-item .actions{
  display: none;
}
.catalog-item:hover .actions{
  display: block;
}
 .catalog-item:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
 }
.catalog-item .name-item{
  font-family: "PT Sans";
  font-weight: bold;
  text-align: center;
  min-height:  40px;
}
.catalog-item img{
  width: 100px;
  height: 80px;
  vertical-align: middle;
}
.catalog-item .price-item{
  position: relative;
  width: 70px;
  margin: 10px auto;
  
  padding: 10px 30px;
  color:#ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  text-align: center;
  font-family:"PT Sans";
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.catalog-item .price-item::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 116px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}
.catalog-item .old-price{
  font-size: 17px;
  line-height: 18px;
  color:#a9a9a9;
  text-decoration: line-through;
  text-align: center;
}
.catalog-item .none-old-price{
  font-size: 17px;
  line-height: 18px;
  color:#ffffff;
  text-align: center; 
}
/* F A V O R I T  BRANDS */
.favorit-brands{
  position: relative;
  width: 940px;
  margin: 0;
  list-style: none;
  text-decoration: none;
} 
.favorit-producer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.favorit-producer ul{
  display: inline;
  margin-left: 40px;
  position: absolute;
}
.favorit-producer li{
 
  border: 1px solid #9e9d9d;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  width: 195px; 
  height: 135px;
  text-align: center;
  line-height: 135px;
  image-rendering: auto;
}
.favorit-producer {
  text-align: center;
}
.favorit-producer:nth-child(4n){
  margin-right: 0;
}
 .favorit-producer li:hover{ 
  box-shadow: 0 0 5px 3px lightgrey;
  cursor: pointer;
}
/*.favorit-producer li:focus{}*/

/* S E R V I C E */
.service-box{
  position: relative;  
  background-color:  #f4f6f8;
  font-family: "Cuprum";
  height: 480px;
}

.total-service{
  width: 370px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.total-service h2{
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  margin-left: 30px; 
  text-transform: uppercase;
}
.total-service p{
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin-left: 30px;
}

.service-list{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-family: "Cuprum";
  list-style: none;
  
  width: 200px;
  margin-left: 30px;
}
.service-list .btn-service{
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  background-color: #32425c;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 14px;
  border-bottom: 2px solid #bebebe;
  
}
.service-list .action{
  background-color: #ffffff;
  color: #32425c;
}
.service-list .btn-service:hover,
.service-list .btn-service:focus{
  background-color: #293449;
  color: #ffffff;
  
}
.service-list .btn-service:active{
  background-color: #ffffff;
  color: #32425c;
}
.service{
  position: absolute;
  top: 146px;
  left: 302px;
  width: 658px;
  height: 284px;
   
}
.service h3{
  position: absolute;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
.service p{
  position: absolute;
  top: 75px;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.service img{
  position: absolute;
  top: 0;
  right: 30px;
}
.service .guaranty-img{
  position: absolute;
  top: -18px;
  right: 30px;
}
.service .credit-img{
  position: absolute;
  top: 1px;
  right: 26px;
}
.service-credit .button{
  position: absolute;
  top: 165px;
 }
 /* Дополнительная информация*/
.add-info{
  background-color: #ffffff;
  font-family: "Cuprum";
  list-style: none;
}
.add-info h3{
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.add-info p{
  color: #000000;
  font-size: 14px;
  line-height: 24px;
}
.add-info .button{
  color: #ffffff;
  background-color: #ee3643;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 3px;
}
.list-transport li{
  font-size: 24px;
  line-height: 30px;
  list-style: none;
}
/*P A G I N A T O R */
.div{
  position: relative;
  font-family: "PTSans";
  font-size: 13px;
  line-height: 18px;
}
.paginator a{
  display: inline-block;
  padding: 14px 22px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-right: 10px;
}
.paginator .current{
  color: #ffffff;
  background-color: #ee3643;
}
.paginator a:hover{
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 2px #cccccc;
}
.paginator a:focus{
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ee3643;
}

/* M O D A L */
.modal{
  background-image: url("img/form-2.svg");
  background-color: #ffffff; 
  box-shadow: 0 0 10px 10px #ededed;
}
.modal label{
  font-family: "cuprum";
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.modal input,
.modal textarea{
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #f4f4f4;
}
.modal input{
  width: 220px;
  height: 38px;
}
.modal textarea{
  width: 460px;
  height: 114px;
}
.modal .button{
  background-color: #ee3643;
  color: #ffffff;
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  padding: 14px 198px;
  text-transform: uppercase;
  border-radius: 3px;
}
.footer-box{
  font-family: "cuprum";
  font-size: 18px;
  line-height: 24px;
}
.footer-navigation{
  background-color: #32425c;
 }
.footer-logo{
  font-size: 30px;
  line-height: 60px;
  color:#ffffff; 
  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  width: 220px;
  height: 60px;
  border-bottom: 8px solid #ba2732;
}
.footer-adres{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.footer-navigation .top-menu li,
.footer-navigation .under-menu li{
  list-style: none;
}
.footer-navigation .top-menu a{
  color: #ffffff;
}
.footer-navigation .top-menu a:hover,
.footer-navigation .under-menu a:hover{
  text-decoration: underline;
}
.footer-navigation .top-menu a:focus{
  color: #bebebe;
  text-decoration: none;
}
.footer-navigation .under-menu a{
  color: #ffd180;
}
.footer-navigation .under-menu a:focus{
  text-decoration: none;
  color: #cbb897;
}
.footer-info{
  background-color: #293449;
  list-style: none;
}
.footer-info p{
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}
.footer-info li{
  list-style: none;
}
.footer-info a{
  color: #ffd180;
}
.footer-info a:hover{
  text-decoration: underline;
}
.footer-info a:focus{
  text-decoration: none;
  color: red;
}
/* Social */
.footer-social{
  width: 145px;
  text-align: center;
}
.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-btn{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  border-radius: 20px;
  margin-right: 10px;
  margin-left: 50px;
  background-color: #212a3a;
 }

.social-btn:hover,
.social-btn:focus{
  background-color: #ee3643;
}
.social-btn:hover path,
.social-btn:focus path{
  background-color: #ffffff;
}
/* Название каталога и хлебные крошки*/
.breadcrumbs{
  margin: 0 auto;
  font-family: "Cuprum";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.breadcrumbs li{
  list-style: none;
  display: inline;
  position: relative;
  padding-right: 15px;
  padding-left: 3px;
}
.breadcrumbs a{
  color:#000000;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}
.breadcrumbs-current{
  color:#000000;
}
.catalog-titel{
  margin-left: 40px;
  width: 840px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
   
  text-transform: uppercase;
  background-color: #f2f6f8;
}

/* Фильтр */
.catalog-filtr-sort{
  display: flex;
}
.filters{
  flex-direction: column;
  order: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "PTSans";
}
.filters h3{
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec; 
  border-radius: 5px;
  width: 220px;
  height: 38px;
}
.filters fieldset{
  border: none;
}
.filter-price{
  color: #000000;
  background-color: #ffffff;

}
.range-filter{
  width: 220px;
 }
fieldset legend{
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-line{
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 5px; 
}

.range-line .band{
  height: 2px;
  background-color: #d7dcde;
}
.range-line .bar{
  width: 80%;
  height: 2px;
  background: #52d89c;
}
.range-line .toggle{
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-line .min-toggle{
  left: 18px;
}
.range-line .max-toggle{
  left: 160px;
}

.price-line{
  font-size: 0;
}
.price-line label{
  display: inline-block;
  width: 50%;
  font-size: 17px;
  line-height: 18px;
}
.price-line input{
  width: 80px;
  padding: 8px 10px;
  font-size: 17px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}
.btn-filter{
  width: 140px;
  height: 38px;
  font-family: "PTSans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #ababab;
  border-radius: 5px;
}

/* S O R T I */
.sorting{
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin-left: 240px;
  width: 700px;
  min-height: 38px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-family: "PTSans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
   
  text-transform: uppercase;
  background-color: #f7f3ec;
}
.sorting h2{
  margin-left: 20x;
  
}
/*.flag-new{
  font-size: 16px;
  font-family: "PTSans";
  color: rgb(255, 255, 255);
  line-height: 18px;
  text-align: left;
  position: absolute;
}*/
  
  
  
  